<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=hrl, initial-scale=1.0">
    <title>Smile Charities</title>
        <link rel="stylesheet" href="/formcss/donateicons.css">
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="/css/comm.css">
        <link rel="icon" href="/images/iconn.png">
        <link rel="stylesheet" href="/css/event.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        
        
        
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top ftco_navbar ftco-navbar-light header" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <span class="logo-image">
                    <img src="../images/iconn.png" class="img-fluid">
                </span>Smile Charities
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ms-auto mb-4 mb-lg-0 gap">
                    <li class="nav-item "><a href="/" class="n">Home</a></li>
                    <li class="nav-item active" ><a href="/community" class="n">Community</a></li>
                    <li class="nav-item"><a href="/foundation" class="n">Foundation</a></li>
                    <li class="nav-item"><a href="/about" class="n">About</a></li>
                    <li class="nav-item"><a href="/contact" class="n">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="commu">
<div class="block">
    <div class="block-header">
        <div class="title">
            <h2>Community</h2>
            <div class="tag">12</div>
        </div>
        <div class="group-radio">
            <span class="button-radio">
                <input id="latest" name="latest" type="radio" checked>
                <label for="latest">Latest</label>
            </span>
            <div class="divider"></div>
            <span class="button-radio">
                <input id="popular" name="latest" type="radio">
                <label for="popular">Popular</label>
            </span>
        </div>
    </div>
    <div class="writing">
        <div contenteditable="true" class="textarea" autofocus spellcheck="false">
            <p>Hi <a class="tagged-user">@Smile</a></p>
        </div>
        <div class="footer">
            <div class="text-format">
                <button class="btn"><i class="ri-bold"></i></button>
                <button class="btn"><i class="ri-italic"></i></button>
                <button class="btn"><i class="ri-underline"></i></button>
                <button class="btn"><i class="ri-list-unordered"></i></button>
            </div>
            <div class="group-button">
                <button class="btn"><i class="ri-at-line"></i></button>
                <a href="#" class="btn btn-primary">Post</a>
            </div>
        </div>
    </div>
    <div class="comment">
        <div class="user-banner">
            <div class="user">
                <div class="avatar">
                    <img src="https://randomuser.me/api/portraits/men/86.jpg">
                    <span class="stat grey"></span>
                </div>
                <h5>Floyd Miles</h5>
            </div>
            <button class="btn dropdown"><i class="ri-more-line"></i></button>
        </div>
        <div class="content">
            <p>Actually, now that I try out the links on my message, above, none of them take me to the secure site.
                Only my shortcut on my desktop, which I created years ago.</p>
        </div>
        <div class="footer">
            <button class="btn"><i class="ri-emotion-line"></i></button>
            <div class="reactions">
                <button class="btn react"><img
                        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/thumbs-up_1f44d.png"
                        alt="">4</button>
                <button class="btn react"><img
                        src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/angry-face-with-horns_1f47f.png"
                        alt="">1</button>
            </div>
            <div class="divider"></div>
            <a href="#">Reply</a>
            <div class="divider"></div>
            <span class="is-mute">6 hour</span>
        </div>
    </div>
    <div>
        <div class="comment">
            <div class="user-banner">
                <div class="user">
                    <div class="avatar" style="background-color:#fff5e9;border-color:#ffe0bd; color:#F98600">
                        AF
                        <span class="stat green"></span>
                    </div>
                    <h5>Albert Flores</h5>
                </div>
                <button class="btn dropdown"><i class="ri-more-line"></i></button>
            </div>
            <div class="content">
                <p>Before installing this plugin please put back again your wordpress and site url back to http.</p>
            </div>
            <div class="footer">
                <button class="btn"><i class="ri-emotion-line"></i></button>
                <div class="divider"></div>
                <a href="#">Reply</a>
                <div class="divider"></div>
                <span class="is-mute">2 min</span>
            </div>
        </div>
        <div class="reply comment">
            <div class="user-banner">
                <div class="user">
                    <div class="avatar">
                        <img src="https://images.unsplash.com/photo-1510227272981-87123e259b17?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=3759e09a5b9fbe53088b23c615b6312e"
                            alt="">
                        <span class="stat green"></span>
                    </div>
                    <h5>Bessie Cooper</h5>
                </div>
                <button class="btn dropdown"><i class="ri-more-line"></i></button>
            </div>
            <div class="content">
                <p>Hi <a href="#" class="tagged-user">@Albert Flores</a>.Thanks for your reply.</p>
            </div>
            <div class="footer">
                <button class="btn"><i class="ri-emotion-line"></i></button>
                <div class="reactions">
                    <button class="btn react"><img
                            src="https://cdn-0.emojis.wiki/emoji-pics/apple/smiling-face-with-heart-eyes-apple.png"
                            alt="">2</button>
                </div>
                <div class="divider"></div>
                <a href="#">Reply</a>
                <div class="divider"></div>
                <span class="is-mute">18 sec</span>
            </div>
        </div>
    </div>
    <div class="load">
        <span><i class="ri-refresh-line"></i>Loading</span>
    </div>
</div>
    </div>



    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>We are team of problem solvers, who are trying to contribute towards Zero Hunger mission. </p>
                    </div>
                </div>
    
                <div class="col-md-2">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Site Links</h2>
                        <ul class="list-unstyled">
                            <li><a href="/" class="py-2 d-block">Home</a></li>
                            <li><a href="/about" class="py-2 d-block">About</a></li>
                            <li><a href="/contact" class="py-2 d-block">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul class="xyz">
                                <li><span class="text">Starting core office at bikaner A3 Mp colony 300456</span></li>
                                <li><a href="#"><span class="text">&#9743; +91 10025 56897</span></a></li>
                                <li><a href="#"><span class="text">&#x2709; info@smile.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
    
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This application
                        is made with &#x1F9E1;<i class="icon-heart" aria-hidden="true"></i> by <b>Incredible Engineers</b>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script>
        var main = function () {
                $('.btn').click(function () {
                    var post = $('.status-box').val();
                    $('<li>').text(post).prependTo('.posts');
                    $('.status-box').val('');
                    $('.counter').text('250');
                    $('.btn').addClass('disabled');
                });
                $('.status-box').keyup(function () {
                    var postLength = $(this).val().length;
                    var charactersLeft = 250 - postLength;
                    $('.counter').text(charactersLeft);
                    if (charactersLeft < 0) {
                        $('.btn').addClass('disabled');
                    } else if (charactersLeft === 250) {
                        $('.btn').addClass('disabled');
                    } else {
                        $('.btn').removeClass('disabled');
                    }
                });
            }
            $('.btn').addClass('disabled');
            $(document).ready(main)
    </script>
</body>
</html>