<!DOCTYPE html>
<html lang="en">

<head>
	<title>Smile Charities</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/formcss/donateicons.css">
	<link rel="stylesheet" href="/css/home.css">
	<link rel="icon" href="/images/iconn.png">
	<link rel="stylesheet" href="/css/event.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">




	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark fixed-top ftco_navbar ftco-navbar-light header" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="">
				<span class="logo-image">
					<img src="../images/iconn.png" class="img-fluid">
				</span>Smile Charities
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span>
			</button>

			<div class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ms-auto mb-4 mb-lg-0 gap">
					<li class="nav-item active"><a href="" class="n">Home</a></li>
					<li class="nav-item"><a href="/community" class="n">Community</a></li>
					<li class="nav-item"><a href="/foundation" class="n">Foundation</a></li>
					<li class="nav-item"><a href="/about" class="n">About</a></li>
					<li class="nav-item"><a href="#events" class="n">Events</a></li>
					<li class="nav-item"><a href="/contact" class="n">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- END nav -->

	<div class="top" data-stellar-background-ratio="0.5">

		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true">
				<!-- <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
					<h1 class="m4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Cutting food waste is a delicious way of saving money, helping to feed the world and protect the planet.</h1>
					
				</div> -->
			</div>
		</div>
	</div>

	<section class="ftco-counter ftco-intro" id="section-counter">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 color-2 align-items-stretch">
						<div class="text">
							<h3 class="mb-4"> Be A Donor</h3>
							<p> “The measure of life is not its duration but its donation.” -Peter Marshall
								Become a hero for someone by donating surplus food to them.
								Would you like to give food? If yes, please fill out our form today and become a donor.
							</p>
							<form action="/RegisterLoginDonar" method="post">
								<button type="submit" class="donor" name="button" value="donar">Be A Donar</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18 color-3 align-items-stretch">
						<div class="text">
							<h3 class="mb-4">Be a Volunteer</h3>
							<p>"Alone we can do so little, together we can do so much.” - Helen Keller
								Become a by claiming the food.
								We will like you to volunteer with us, provide us your information below.</p>
							<form action="/RegisterLoginVolunteer" method="post">
								<button type="submit" class="Volunteer" name="button" value="volunteer">Be A
									Volunteer</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class=" ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="margin-left: 120px;">
			<h1 class="m4" style="text-align: center !important;" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Problem</h1>
			<p style="text-align: center;">
				-> 3,000 children die every day from hunger. <br>
				-> India ranks 97th in addressing hunger. <br>
				-> 16.6% of the world's population is undernourished. <br>
				-> 1/8 of Asia is hungry. <br>
				-> Every 10 seconds a child dies from hunger. <br>
				-> There are 130 million children in school who are not learning <br>
				-> basic skills like reading, writing and math due to lack of teachers and untrained educators.
			</p>

		</div>
		<div class=" ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="margin-left: 120px;">
			<h1 class="m4" style="text-align: center !important;" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
				Causes</h1>
			<p style="text-align: center;">
				-> As per ancient wisdom, food is hailed as nectar, and the wastage of food is considered a sin. But one-third of all food
				globally goes to waste. That's enough to feed 3 billion people!
				 <br>
				-> According to the Food and Agriculture Organization (FAO), a staggering 1.3 billion tons of food is wasted annually.
				 <br>
				-> The FAO report further states that one-third of the total global food production is wasted, costing the world economy
				about $750 billion or INR 47 lakh crore.
				 <br>
				-> According to the UN Hunger Report, although the world produces enough food to feed the entire global population, still
				as many as 811 million people go hungry every day. It is because of food wastage. As per Food and Agricultural
				Organization report, nearly 931 million tons of food go to waste each year which accounts for nearly 17% of global
				food production. <br>
			</p>
		
		</div>
	</section>

	<h1 class="heading12">Our work<span> for poor people </span></h1>
	<div class="cont s--inactive">
		<!-- cont inner start -->
		<div class="cont__inner">
			<!-- el start -->
			<div class="el">
				<div class="el__overflow">
					<div class="el__inner">
						<div class="el__bg"></div>
						<div class="el__preview-cont">
							<h2 class="el__heading">First Food Distribution</h2>
						</div>
						<div class="el__content">
							<div class="el__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
								eiusmod tempor incididunt ut labore et dolore magna
								aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
								aliquip ex ea commodo consequat. Duis
								aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
								pariatur. Excepteur sint
								occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
								laborum.</div>
							<div class="el__close-btn"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- el end -->
			<!-- el start -->
			<div class="el">
				<div class="el__overflow">
					<div class="el__inner">
						<div class="el__bg"></div>
						<div class="el__preview-cont">
							<h2 class="el__heading">First Food Distribution</h2>
						</div>
						<div class="el__content">
							<div class="el__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
							eiusmod tempor incididunt ut labore et dolore magna
							aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
							aliquip ex ea commodo consequat. Duis
							aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
							pariatur. Excepteur sint
							occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
							laborum.</div>
							<div class="el__close-btn"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- el end -->
			<!-- el start -->
			<div class="el">
				<div class="el__overflow">
					<div class="el__inner">
						<div class="el__bg"></div>
						<div class="el__preview-cont">
							<h2 class="el__heading">First Food Distribution</h2>
						</div>
						<div class="el__content">
							<div class="el__text">Whatever</div>
							<div class="el__close-btn"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- el end -->
			<!-- el start -->
			<div class="el">
				<div class="el__overflow">
					<div class="el__inner">
						<div class="el__bg"></div>
						<div class="el__preview-cont">
							<h2 class="el__heading">First Food Distribution</h2>
						</div>
						<div class="el__content">
							<div class="el__text">Whatever</div>
							<div class="el__close-btn"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- el end -->
			<!-- el start -->
			<div class="el">
				<div class="el__overflow">
					<div class="el__inner">
						<div class="el__bg"></div>
						<div class="el__preview-cont">
							<h2 class="el__heading">First Food Distribution</h2>
						</div>
						<div class="el__content">
							<div class="el__text">Whatever</div>
							<div class="el__close-btn"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- el end -->
		</div>
		<!-- cont inner end -->
	</div>

	<div id="events" class="board">
		<h1 class="board__heading">
			Important Links
		</h1>

		<nav class="board__nav">
			<!-- ! the buttons added in the script, to include a background color for the specific category  -->

			<!-- <button class="nav--item active" data-item="all">All</button>
            <button class="nav--item" data-item="news">News</button>
            <button class="nav--item" data-item="updates">Updates</button>
            <button class="nav--item" data-item="maintenance">Maintenance</button>
            <button class="nav--item" data-item="events">Events</button>
            <button class="nav--item" data-item="important">Important</button> -->
		</nav>

		<section class="board__news">
			<!-- ! news items added through the script according to 1. the latest date and 1. the selected category -->

			<!--
            <a class="news--item" href="#">
                <p class="date">
                    Apr 26, 2019
                </p>
                <p class="title">
                    Lorem inpsum
                </p>
            </a> -->
		</section>
	</div>
	<div class="lisst">
		<h1 class="heading12">Our Family</h1>
		<div class="lisstsect">
			<div class="card">
				<h2>popular NGO list</h2>
				<div class="list">

					<a href="https://www.kritagyata.org/"><img
							src="https://kritagyata.org/wp-content/uploads/2017/12/kritagyata-logo.jpg" alt=""></a>
					<p>krita gyata</p>


				</div>
				<div class="list">
					<a href="http://www.vidyaranya.org/"><img
							src="https://vidyaranya.org/wp-content/uploads/2019/06/Vidyaranya-ResizedLogo.jpg"
							alt=""></a>
					<p>vidyaranya</p>

				</div>
				<div class="list">
					<a href="https://www.aahwahan.com/"><img src="https://www.aahwahan.com/images/logo.png" alt=""></a>
					<p>Aahwahan</p>

				</div>
				<div class="list">
					<a href="https://www.vatsalyapuram.com/"></a><img
						src="https://www.vatsalyapuram.com/wp-content/uploads/2021/07/logo.png" alt="">
					<p>vatsalyapuram</p>

				</div>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="http://www.diyafoundation-india.org/wp-content/uploads/2020/09/logo.png" alt="">
					<p>ricardo flangan</p>

				</div>
			</div>
			<div class="card">
				<h2>popular Volunteer list</h2>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="https://avatars.githubusercontent.com/u/2168483?v=4" alt="">
					<h6>Bhanu Sharma</h6>

				</div>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="https://avatars.githubusercontent.com/u/2168483?v=4" alt="">
					<h6>femando jya</h6>

				</div>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="https://avatars.githubusercontent.com/u/2168483?v=4" alt="">
					<h6>ricardo flangan</h6>

				</div>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="https://avatars.githubusercontent.com/u/2168483?v=4" alt="">
					<h6>ricardo flangan</h6>

				</div>
				<div class="list">
					<a href="http://www.diyafoundation-india.org/"></a><img
						src="https://avatars.githubusercontent.com/u/2168483?v=4" alt="">
					<h6>ricardo flangan</h6>

				</div>
			</div>
			<div class="card">
				<h2>popular Donater list</h2>
				<div class="list">
					<a href="https://saltrestaurants.in/"></a><img
						src="https://saltrestaurants.in/wp-content/uploads/2021/03/Salt-Website-Logo.png" alt="">
					<p>Pan india restro</p>

				</div>
				<div class="list">
					<a href="https://www.hotelempire.in/"></a><img
						src="https://www.hotelempire.in/wp-content/themes/hotelempire/assets/img/logo.png" alt="">
					<p>Hotel Empire</p>

				</div>
				<div class="list">
					<a href="https://www.sammaanrestaurant.com/"></a><img
						src="https://www.sammaanrestaurant.com/images/logo.png" alt="">
					<p>Sammaan Restaurant</p>

				</div>
				<div class="list">
					<a href="https://imperiorestaurant.in/"></a><img src="https://imperiorestaurant.in/images/logo.png"
						alt="">
					<p>Imperio Restaurant</p>

				</div>
				<div class="list">
					<a
						href="https://www.dineout.co.in/bangalore/salt-indian-restaurant-bar-grill-ub-city-central-bangalore-106372"></a><img
						src="https://saltrestaurants.in/wp-content/uploads/2021/03/Salt-Website-Logo.png" alt="">
					<h6>Salt - Indian Restaurant</h6>

				</div>
			</div>
		</div>
	</div>

	<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="margin-top: 120px;">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
				aria-label="Slide 4"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="3000" style="text-align:center;">
				<!-- <div class="carousel-item" style="text-align:center;"> -->
				<img src="/images/pic1.jpeg" style="width:55%;height:30vw;">
			</div>
			<div class="carousel-item" style="text-align:center;">
				<img src="/images/pic 2.jpeg" style="width:55%;height:30vw;">
			</div>
			<div class="carousel-item" style="text-align:center;">
				<img src="/images/pic 4.jpeg" style="width:55%;height:30vw;">
			</div>
			<div class="carousel-item" style="text-align:center;">
				<img src="/images/pic 3.jpeg" style="width:55%;height:30vw;">


				<div class="carousel-caption d-none d-md-block">
					<!-- <h5>Third slide label</h5>
			  <p>Some representative placeholder content for the third slide.</p> -->
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>




	<div class="container-gallery">

		<h1 class="heading12">Our work<span> for poor people </span></h1>

		<div class="gallery">

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img8.jpeg"
					alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img7.jpeg"
					alt="sunset behind San Francisco city skyline">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img6.jpeg"
					alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img5.jpeg"
					alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img4.jpeg"
					alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
			</div>

			<!-- <div class="gallery-item">
				<img class="gallery-image"
					src="../images/img3.jpeg"
					alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
			</div> -->

			<!--
			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/img2.jpeg"
					alt="person writing in a notebook beside by an iPad, laptop, printed photos, spectacles, and a cup of coffee on a saucer">
			</div> -->

			<!-- <div class="gallery-item">
				<img class="gallery-image"
					src="../images/img1.jpeg"
					alt="sunset behind San Francisco city skyline">
			</div> -->

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/IMG-20221209-WA0013.jpg"
					alt="people holding umbrellas on a busy street at night lit by street lights and illuminated signs in Tokyo, Japan">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/IMG-20221209-WA0014.jpg"
					alt="car interior from central back seat position showing driver and blurred view through windscreen of a busy road at night">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/IMG_20221209_070710.jpg"
					alt="back view of woman wearing a backpack and beanie waiting to cross the road on a busy street at night in New York City, USA">
			</div>

			<div class="gallery-item">
				<img class="gallery-image"
					src="../images/IMG_20221209_070809.jpg"
					alt="man wearing a black jacket, white shirt, blue jeans, and brown boots, playing a white electric guitar while sitting on an amp">
			</div>
		</div>

	</div>


	<footer class="ftco-footer ftco-section img">
		<div class="overlay"></div>
		<div class="container">
			<div class="row mb-5">
				<div class="col-md-3">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">About Us</h2>
						<p>We are team of problem solvers, who are trying to contribute towards Zero Hunger mission.
						</p>
					</div>
				</div>

				<div class="col-md-2">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Site Links</h2>
						<ul class="list-unstyled">
							<li><a href="/" class="py-2 d-block">Home</a></li>
							<li><a href="/about" class="py-2 d-block">About</a></li>
							<li><a href="/contact" class="py-2 d-block">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-3">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul class="xyz">
								<li><span class="text">Starting core office at bikaner A3 Mp colony 300456</span></li>
								<li><a href="#"><span class="text">&#9743; +91 10025 56897</span></a></li>
								<li><a href="#"><span class="text">&#x2709; info@smile.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">

					<p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright &copy;
						<script>document.write(new Date().getFullYear());</script> All rights reserved | This
						application
						is made with &#x1F9E1;<i class="icon-heart" aria-hidden="true"></i> by <b>Incredible Engineers</b>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>
				</div>
			</div>
		</div>
	</footer>
	<script>
		// array describing the news' categories
		const categories = ['all', 'news', 'updates', 'maintenance', 'events', 'important'];
		// array describing the colors matching the categories
		const colors = ['#66d7ee', '#66a1ee', '#7166ee', '#a866ee', '#ee66aa', '#ee6d66'];

		// array describing the navigation's items through the category and color
		const navItems = categories.map((category, index) => ({
			category,
			color: colors[index],
		}));


		// date used to establish the age of the news items
		const latestDate = new Date();
		// filler text used fo the news
		const fillerTitle = 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, saepe';

		// number of items for each news' category, sans the first one
		const limit = 5;
		// array describing every piece of news
		// the idea is to have _limit_ number of news for each category, sans the first one
		const data = [];

		// for every navigation item sans the first one include _limit_ number of news in the data array
		navItems.slice(1).forEach(({ category, color }) => {
			for (let i = 0; i < limit; i += 1) {
				// specify the category, color according to the navigation item
				// use the latest date to find an earlier date instance
				// use the filler text for the title
				const date = new Date(latestDate - (1000 * 60 * 60 * 24) * (Math.ceil(Math.random() * 100)));
				data.push({
					category,
					color,
					date,
					title: fillerTitle,
				});
			}
		});
		// console.log(data);

		// ADD NAVIGATION ITEMS
		const boardNav = document.querySelector('.board__nav');
		// specify a showNews() function passing as argument the specific cateogry
		// specify the background with a slightly transparent version of the chosen color
		boardNav.innerHTML = navItems.map(({ category, color }) => `
  <button onclick="showNews('${category}')" class="nav--item ${category === 'all' && 'active'}" style="background: ${color}44">
    ${category}
  </button>
`).join('');

		// function _adding_ the news in the .board__news element
		// accepting as argument an array of news items
		function addNews(news) {
			const boardNews = document.querySelector('.board__news');

			// include the first five items of the input array
			// ! include the theme color as a solid border
			boardNews.innerHTML = news.slice(0, 5).map(({ color, date, title }) => `
  <a class="news--item" href="#" style="border-left: 4px solid ${color}">
      <p class="date">
          ${date.toDateString()}
      </p>
      <p class="title">
          ${title}
      </p>
  </a>
  `).join('');
		}
		// sort the data
		// ! this ultimately _mutates_ the data array, sorting the elements in place
		// this is actually useful to always include the latest news no matter the category
		const latestNews = data.sort(({ date: dateA }, { date: dateB }) => (dateA > dateB ? -1 : 1));
		// immediately call the function with the most recent news items
		addNews(latestNews);

		// function called when clicking the button elements, with the selected category
		function showNews(selectedCategory) {
			// if matching the first cateogry, display the latest news
			if (selectedCategory === 'all') {
				addNews(latestNews);
			} else {
				// else retrieve the news items matching the selected category
				const specificNews = data.filter(({ category }) => category === selectedCategory);
				// add the news through the appropriate function
				addNews(specificNews);
			}
		}



		var $cont = document.querySelector('.cont');
		var $elsArr = [].slice.call(document.querySelectorAll('.el'));
		var $closeBtnsArr = [].slice.call(document.querySelectorAll('.el__close-btn'));

		setTimeout(function () {
			$cont.classList.remove('s--inactive');
		}, 200);

		$elsArr.forEach(function ($el) {
			$el.addEventListener('click', function () {
				if (this.classList.contains('s--active')) return;
				$cont.classList.add('s--el-active');
				this.classList.add('s--active');
			});
		});

		$closeBtnsArr.forEach(function ($btn) {
			$btn.addEventListener('click', function (e) {
				e.stopPropagation();
				$cont.classList.remove('s--el-active');
				document.querySelector('.el.s--active').classList.remove('s--active');
			});
		});



	</script>
</body>

</html>